// COLORS
$colors: (
  "primary": (
    100: #fff7e6,
    200: #ffebb3,
    300: #ffdf80,
    400: #ffd24d,
    500: #ffc61a,
    600: #cc9900,
    700: #997300,
    800: #664d00,
    900: #332600,
  ),
  "neutral": (
    100: #f5f5f5,
    200: #e0e0e0,
    300: #cccccc,
    400: #b3b3b3,
    500: #999999,
    600: #666666,
    700: #4d4d4d,
    800: #333333,
    900: #1a1a1a,
  ),
);

// Z-INDEX
$z-index: (
  "base": 1,
  "below": -1,
  "above": 2,
  "higher": 5,
  "highest": 10,
  "floating": 100,
  "dropdown": 1000,
  "modal": 2000,
  "overlay": 3000,
  "popup": 4000,
  "toast": 5000,
  "tooltip": 6000,
);

// RADII
$radii: (
  "small": 2px,
  "medium": 4px,
  "large": 8px,
  "extra-large": 16px,
  "circle": 50%,
);
