.container {
  position: "relative";
  inline-size: 100%;
  block-size: 100%;
  background-color: transparent;
  overflow: hidden;
}

.box {
  inline-size: 100%;
  block-size: 100%;
  border-width: 4rem;
  border-style: solid;
  border-image-source: create-gradient(
    palette("red", 100),
    palette("red", 900),
    linear,
    to bottom,
    0%,
    60%
  );
  border-image-slice: 1;
  border-block-start: none;
}
